* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background-color: darkgrey;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
}

.body-top{
  position: fixed;
  display: flex;
  top: 0;
  height: 100px;
  width: auto;
  align-items: center;
}

@import url("https://fontsapi.zeoseven.com/508/main/result.css");
@import url("https://fontsapi.zeoseven.com/102/main/result.css");
.title{
  font-family: "pingfangqignchunti";
  font-weight: normal;
}
