<meta charset="utf-8">
<title>Lzf's Site</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/highlight.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css"> -->
 
 <link rel="stylesheet" type="text/css" href="{{ '/assets/css/highlight.css' | relative_url }}">
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- <script src="{{ site.url }}/assets/js/main.js"></script> -->
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

