<!-- 可通过配置文件关联图标 -->
<nav class="sidebar">
    <!-- 分类 -->
    <div class="sidebar-categories">
        <div class="gohome"><a href="{{site.url}}/game-dev-site">Home</a></div>
        <ul class="categories">
            {% for cata in site.data.catalog %}
            {% if site.categories contains cata.name %}
            <li class="categories__item vertical {% if page.url contains cata.name %}categories__item--active{% endif %}" title="{{ cata.display }}" 
            data-category="{{ cata.name }}"> {{ cata.display }} </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>


    <!-- 目录 -->
    <div class="sidebar-directory">

        {% for cate in site.categories %}
        <ul class="page-list {{ cate[0] }} {% unless page.url contains cate[0] %}hide{% endunless %}">
            {% for po in cate[1] %}
            <li class="directory__item {% if page.url == po.url %}directory__item--active{% endif %}">
                <a href="/game-dev-site{{ po.url }}">{{ po.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>

</nav>